body {
  overflow-y: hidden;
  background: #787A7A;
  user-select: none; }

@media screen and (max-width: 720px) {
  .search-form {
    width: calc(30% - 82px); }
  .list-of-nominees {
    width: calc(40% - 82px); }
  .list-of-winners {
    width: calc(30% - 82px); }
  .undo-button {
    right: calc(30% + 21px); }
  .search-form, .nominee, .winner, .add-name {
    font-size: 2vw; } }

@media screen and (min-width: 720px) and (max-width: 1024px) {
  .search-form {
    width: calc(25% - 82px); }
  .list-of-nominees {
    width: calc(50% - 82px); }
  .list-of-winners {
    width: calc(25% - 82px); }
  .undo-button {
    right: calc(25% + 21px); }
  .search-form, .nominee, .winner, .add-name {
    font-size: 1.5vw; } }

@media screen and (min-width: 1024px) {
  .search-form {
    width: 230px; }
  .list-of-nominees {
    width: calc(100% - 706px); }
  .list-of-winners {
    width: 230px; }
  .undo-button {
    right: 333px; }
  .search-form, .nominee, .winner, .add-name {
    font-size: 1.25vw; } }

.search-form, .list-of-nominees, .list-of-winners {
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  height: calc(100vh - 162px);
  margin: 20px;
  background-color: #D1CDD4;
  border: 1px solid #c4bfc8;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #454747; }

.search-form {
  float: left;
  overflow-y: auto; }

::-webkit-scrollbar {
  width: 0px;
  background: transparent; }

.list-of-nominees {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start; }

.list-of-winners {
  float: right; }

.person {
  color: #FFFFFF;
  background: #787A7A;
  width: 100%;
  border: 1px solid #6b6d6d;
  cursor: pointer; }

.person:hover {
  color: #e6e6e6;
  background: #5f6060; }

.person:active {
  transform: translateY(2px);
  box-shadow: 0 1px 2px #787A7A; }

.person a {
  display: block; }

.nominee {
  color: #FFFFFF;
  background: #49176D;
  border: 2px solid #3b1358;
  padding: 0 10px 0 10px;
  margin: 0 10px 10px 0;
  cursor: default; }

.winner {
  background: #00A48C;
  width: 100%;
  border: 2px solid #008b76;
  color: #FFFFFF;
  margin: 0 0 10px 0;
  cursor: default; }

.add-name {
  background: #F26721;
  width: 100%;
  border: 2px solid #ec580e; }

.person, .nominee, .winner, .add-name {
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #9f96a5; }

.search-box {
  height: 40px;
  padding: 0 10px 0 10px;
  width: calc(100% - 20px);
  border-radius: 5px;
  outline: 0; }

.hl {
  font-weight: bold;
  text-decoration: underline; }

.undo-button {
  background-color: #F26721;
  border: 2px solid #d44f0c; }

.undo-button:hover {
  background-color: #d44f0c;
  border-color: #a33d0a; }

.win-button {
  right: 21px;
  background-color: #00B3DC;
  border: 2px solid #008aa9; }

.win-button:hover {
  background-color: #008aa9;
  border-color: #006076; }

.fa-trophy, .fa-undo {
  vertical-align: sub; }

.win-button, .undo-button {
  color: #FFFFFF;
  position: fixed;
  bottom: 21px;
  height: 60px;
  width: 60px;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 5px;
  font-size: 2em;
  padding: 0 0 0 12px;
  box-shadow: 1px 1px 2px #000000;
  cursor: pointer; }

.win-button:hover, .undo-button:hover {
  color: #cccccc; }

.win-button:active, .undo-button:active {
  transform: translateY(2px);
  box-shadow: 0; }

.win-button:focus, .undo-button:focus {
  outline: 0; }

.counter {
  position: fixed;
  bottom: 26px;
  font-size: 2em;
  color: #FFFFFF; }

.header {
  height: 60px;
  background-color: #49176D;
  color: #FFFFFF;
  font-size: 50px;
  padding: 10px 20px 10px 20px;
  font-family: 'Open Sans', sans-serif; }

.header .small {
  font-size: 12px; }

.logo {
  height: 60px;
  float: right;
  cursor: pointer; }

.login-button {
  height: 80px;
  width: 120px;
  background-color: #49176D;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  position: relative;
  left: calc(50vw - 60px);
  top: calc(50vh - 100px);
  box-shadow: 2px 10px 10px #454747;
  outline: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em; }

.login-button:active {
  transform: translateY(5px);
  box-shadow: 2px 5px 5px #454747; }
