$colors: (#000000, #49176D, #787A7A, #D1CDD4, #FFFFFF, #F26721, #00B3DC, #00A48C);
// Color Map: Black, SF Purple, Cool Grey, Light Grey, White, Orange, Blue, Green

//media queries
$media-lg: 1200px;
$media-med: 1024px;
$media-sm: 720px;

@mixin button-effect($color) {
  border-top-color: lighten($color, 10%);
  border-left-color: lighten($color, 10%);
  border-right-color: darken($color, 10%);
  border-bottom-color: darken($color, 10%);
  &:active {
    border-top-color: darken($color, 10%);
    border-left-color: darken($color, 10%);
    border-right-color: lighten($color, 10%);
    border-bottom-color: lighten($color, 10%);
  }
  &:hover {
    background-color: darken($color, 5%);
  }
  cursor: pointer;
  outline: none;
}

@mixin color-and-border($color) {
  background: $color;
  border: 1px solid darken($color, 5%);
}

@keyframes pick-winner {
  from {
    transform: none;
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0.01;
  }
}

*{
  font-family: 'Open Sans', sans-serif;
  color: nth($colors, 5);
}

body {
  overflow-y: hidden;
  background: nth($colors, 3);
  user-select: none;
}

@media screen
  and (max-width: $media-sm) {
    .search-form {width: calc(30% - 82px);}
    .list-of-nominees {width: calc(40% - 82px);}
    .list-of-winners {width: calc(30% - 82px);}
    .undo-button {right: calc(30% + 20px);}
    .search-form, .nominee, .winner, .add-name {font-size: 2vw;}
  }

@media screen
  and (min-width: $media-sm)
  and (max-width: $media-med) {
    .search-form {width: calc(25% - 82px);}
    .list-of-nominees {width: calc(50% - 82px);}
    .list-of-winners {width: calc(25% - 82px);}
    .undo-button {right: calc(25% + 20px);}
    .search-form, .nominee, .winner, .add-name {font-size: 1.5vw;}
  }

@media screen
  and (min-width: $media-med) {
    .search-form {width: 230px;}
    .list-of-nominees {width: calc(100% - 706px);}
    .list-of-winners {width: 230px;}
    .undo-button {right: 332px;}
    .search-form, .nominee, .winner, .add-name {font-size: 1.25vw;}
  }

.search-form, .list-of-nominees, .list-of-winners {
  padding: 20px;
  height: calc(100vh - 162px);
  margin: 20px;
  background-color: nth($colors, 4);
  border: 1px solid darken(nth($colors, 4), 5%);
  border-radius: 5px;
  box-shadow: 2px 2px 10px darken( nth($colors, 3), 20%);
}

.search-form {
  float: left;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.list-of-nominees {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  span { // Added to fix ReactCSSTransitionGroup Styling Issue
    display: inline-flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
  }
}

.list-of-winners {
  float: right;
}

.person {
  width: 100%;
  cursor: pointer;
  @include color-and-border(nth($colors, 3));
  &:hover {
    color: darken( nth($colors, 5), 10%);
    @include color-and-border(darken( nth($colors, 3), 10%)));
  }
  &:active {
    transform: translateY(2px);
    box-shadow: 0 1px 2px nth($colors, 3);
  }
  a {
    display: block;
  }
}

.nominee {
  padding: 0 10px 0 10px;
  margin: 0 10px 10px 0;
  cursor: default;
  @include color-and-border(nth($colors, 2));
}

.winner {
  width: 100%;
  margin: 0 0 10px 0;
  cursor: default;
  @include color-and-border(nth($colors, 8));
}

.add-name {
  width: 100%;
  @include color-and-border(nth($colors, 6));
}

.person, .nominee, .winner, .add-name {
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px darken( nth($colors, 4), 20%);
}

.search-box {
  height: 40px;
  padding: 0 10px 0 10px;
  width: calc(100% - 20px);
  border-radius: 5px;
  outline: 0;
  color: nth($colors, 3);
}

.hl {
  font-weight: bold;
  text-decoration: underline;
}

.undo-button {
  background-color: nth($colors, 6);
  @include button-effect(nth($colors, 6));
}

.win-button {
  right: 20px;
  background-color: nth($colors, 7);
  @include button-effect(nth($colors, 7));
}

.fa-trophy, .fa-undo {
  vertical-align: sub;
}

.win-button, .undo-button {
  position: fixed;
  bottom: 20px;
  height: 60px;
  width: 60px;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 5px;
  font-size: 2em;
  padding: 0 0 0 12px;
}

.counter {
  position: fixed;
  bottom: 26px;
  font-size: 2em;
}

.header {
  height: 60px;
  background-color: nth($colors, 2);
  font-size: 50px;
  padding: 10px 20px 10px 20px;
  .small {
    font-size: 12px;
  }
}

.logo {
  height: 60px;
  float: right;
  cursor: pointer;
}

.login-button {
  height: 80px;
  width: 120px;
  background-color: nth($colors, 2);
  border-radius: 5px;
  position: relative;
  left: calc(50vw - 60px);
  top: calc(50vh - 100px);
  font-size: 2em;
  @include button-effect(nth($colors, 2));
}

.logout-button, .close-button {
  font-size: 2em;
  width: 4em;
  border-radius: 5px;
  position: relative;
  bottom: -10px;
}

.logout-button {
  float: right;
  background-color: nth($colors, 8);
  @include button-effect(nth($colors, 8));
}

.close-button {
  float: left;
  background-color: nth($colors, 6);
  @include button-effect(nth($colors, 6));
}

.win-animation-enter, .nominate-animation-enter {
  opacity: 0.01;
}

.win-animation-enter.win-animation-enter-active, .nominate-animation-enter.nominate-animation-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.nominate-animation-leave, .undo-animation-leave {
  opacity: 1;
}

.nominate-animation-leave.nominate-animation-leave-active {
  animation: pick-winner 2s ease-in;
}

.undo-animation-leave.undo-animation-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}