@keyframes pick-winner {
  from {
    transform: none;
    opacity: 1; }
  50% {
    transform: scale(1.5);
    opacity: 1; }
  to {
    transform: scale(0);
    opacity: 0.01; } }

* {
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF; }

body {
  overflow-y: hidden;
  background: #787A7A;
  user-select: none; }

@media screen and (max-width: 720px) {
  .search-form {
    width: calc(30% - 82px); }
  .list-of-nominees {
    width: calc(40% - 82px); }
  .list-of-winners {
    width: calc(30% - 82px); }
  .undo-button {
    right: calc(30% + 20px); }
  .search-form, .nominee, .winner, .add-name {
    font-size: 2vw; } }

@media screen and (min-width: 720px) and (max-width: 1024px) {
  .search-form {
    width: calc(25% - 82px); }
  .list-of-nominees {
    width: calc(50% - 82px); }
  .list-of-winners {
    width: calc(25% - 82px); }
  .undo-button {
    right: calc(25% + 20px); }
  .search-form, .nominee, .winner, .add-name {
    font-size: 1.5vw; } }

@media screen and (min-width: 1024px) {
  .search-form {
    width: 230px; }
  .list-of-nominees {
    width: calc(100% - 706px); }
  .list-of-winners {
    width: 230px; }
  .undo-button {
    right: 332px; }
  .search-form, .nominee, .winner, .add-name {
    font-size: 1.0vw; } }

.search-form, .list-of-nominees, .list-of-winners {
  padding: 20px;
  height: calc(100vh - 162px);
  margin: 20px;
  background-color: #D1CDD4;
  border: 1px solid #c4bfc8;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #454747; }

.search-form {
  float: left;
  overflow-y: auto; }

::-webkit-scrollbar {
  width: 0px;
  background: transparent; }

.list-of-nominees {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  overflow-y: auto; }
  .list-of-nominees span {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start; }

::-webkit-scrollbar {
  width: 0px;
  background: transparent; }

.list-of-winners {
  float: right; }

.person {
  width: 100%;
  cursor: pointer;
  background: #787A7A;
  border: 1px solid #6b6d6d; }
  .person:hover {
    color: #e6e6e6;
    background: #5f6060;
    border: 1px solid #525353; }
  .person:active {
    transform: translateY(2px);
    box-shadow: 0 1px 2px #787A7A; }
  .person a {
    display: block; }

.nominee {
  padding: 0 10px 0 10px;
  margin: 0 10px 10px 0;
  cursor: default;
  background: #49176D;
  border: 1px solid #3b1358; }
  .nominee:hover {
    background: #c82333;
    border: 1px solid #b21f2d; }

.winner {
  width: 100%;
  margin: 0 0 10px 0;
  cursor: default;
  background: #00A48C;
  border: 1px solid #008b76; }

.add-name {
  width: 100%;
  background: #F26721;
  border: 1px solid #ec580e; }

.person, .nominee, .winner, .add-name {
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #9f96a5; }

.search-box {
  height: 40px;
  padding: 0 10px 0 10px;
  width: calc(100% - 20px);
  border-radius: 5px;
  outline: 0;
  color: #787A7A; }

.hl {
  font-weight: bold;
  text-decoration: underline; }

.undo-button {
  background-color: #F26721;
  border-top-color: #f58851;
  border-left-color: #f58851;
  border-right-color: #d44f0c;
  border-bottom-color: #d44f0c;
  cursor: pointer;
  outline: none; }
  .undo-button:active {
    border-top-color: #d44f0c;
    border-left-color: #d44f0c;
    border-right-color: #f58851;
    border-bottom-color: #f58851; }
  .undo-button:hover {
    background-color: #ec580e; }

.win-button {
  right: 20px;
  background-color: #00B3DC;
  border-top-color: #10d2ff;
  border-left-color: #10d2ff;
  border-right-color: #008aa9;
  border-bottom-color: #008aa9;
  cursor: pointer;
  outline: none; }
  .win-button:active {
    border-top-color: #008aa9;
    border-left-color: #008aa9;
    border-right-color: #10d2ff;
    border-bottom-color: #10d2ff; }
  .win-button:hover {
    background-color: #009ec3; }

.fa-trophy, .fa-undo {
  vertical-align: sub; }

.win-button, .undo-button {
  position: fixed;
  bottom: 20px;
  height: 60px;
  width: 60px;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 5px;
  font-size: 2em;
  padding: 0 0 0 12px; }

.counter {
  position: fixed;
  bottom: 26px;
  font-size: 2em;
  background-color: rgba(120, 122, 122, 0.9);
  border-radius: 5px; }

.header {
  height: 60px;
  background-color: #49176D;
  font-size: 50px;
  padding: 10px 20px 10px 20px; }
  .header .small {
    font-size: 12px; }

.logo {
  height: 60px;
  float: right;
  cursor: pointer; }

.login-button {
  height: 80px;
  width: 120px;
  background-color: #49176D;
  border-radius: 5px;
  position: relative;
  left: calc(50vw - 60px);
  top: calc(50vh - 100px);
  font-size: 2em;
  border-top-color: #652097;
  border-left-color: #652097;
  border-right-color: #2d0e43;
  border-bottom-color: #2d0e43;
  cursor: pointer;
  outline: none; }
  .login-button:active {
    border-top-color: #2d0e43;
    border-left-color: #2d0e43;
    border-right-color: #652097;
    border-bottom-color: #652097; }
  .login-button:hover {
    background-color: #3b1358; }

.logout-button, .close-button {
  font-size: 2em;
  width: 4em;
  border-radius: 5px;
  position: relative;
  bottom: -10px; }

.logout-button {
  float: right;
  background-color: #00A48C;
  border-top-color: #00d7b8;
  border-left-color: #00d7b8;
  border-right-color: #007160;
  border-bottom-color: #007160;
  cursor: pointer;
  outline: none; }
  .logout-button:active {
    border-top-color: #007160;
    border-left-color: #007160;
    border-right-color: #00d7b8;
    border-bottom-color: #00d7b8; }
  .logout-button:hover {
    background-color: #008b76; }

.close-button {
  float: left;
  background-color: #F26721;
  border-top-color: #f58851;
  border-left-color: #f58851;
  border-right-color: #d44f0c;
  border-bottom-color: #d44f0c;
  cursor: pointer;
  outline: none; }
  .close-button:active {
    border-top-color: #d44f0c;
    border-left-color: #d44f0c;
    border-right-color: #f58851;
    border-bottom-color: #f58851; }
  .close-button:hover {
    background-color: #ec580e; }

.win-animation-enter, .nominate-animation-enter {
  opacity: 0.01; }

.win-animation-enter.win-animation-enter-active, .nominate-animation-enter.nominate-animation-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in; }

.nominate-animation-leave, .undo-animation-leave {
  opacity: 1; }

.nominate-animation-leave.nominate-animation-leave-active {
  animation: pick-winner 2s ease-in; }

.undo-animation-leave.undo-animation-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in; }
