.search-form {
  position: absolute;
  top: 20px;
  left: 20px;
}

.list-of-nominees {
  position: absolute;
  top: 20px;
  left: 200px;
}

.list-of-winners {
  position: absolute;
  top: 20px;
  left: 400px;
}